{
  "presets": [
    "env",
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-flow-strip-types",
    "transform-runtime",
    ["module-resolver", {
     "root": ["./src"],
     "alias": { }
   }]
  ]
}
